doctype html
html(ng-app='contact')
  head
    title Node Angular Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css')
    script(src='/javascripts/require.js', data-main='/javascripts/main', charset='utf-8')
  body
    block content