doctype html
html(ng-app='contact')
  head
    title Node-Angular-Contact-Index
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/require.js', data-main='/javascripts/main', charset='utf-8')
  body
    block content